*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Avenir Next', Avenir,
    Helvetica, sans-serif;
}

a {
  color: #0366d6;
}
