.root {
  position: relative;
  width: 100%;
  height: 100vh;
}

.mapWindow {
  position: absolute;
  inset: 0;
}

.slideWindow {
  position: absolute;
  top: 66%;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.slideContainer {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  transition: margin-left 0.5s ease;
}

.dummySlide {
  min-width: 30em;
}

@media only screen and (max-width: 812px) {
  .slideWindow {
    top: calc(100% - 15em);
  }
}
